@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

    <div class="card-header bg-light">
        <h2>Creator Information</h2>
        <p>Name: Ryan Cross</p>
        <p>School: BYU-Idaho</p>
        <p>Email: cro16052@byui.edu</p>
        </div>

        <h2>Student Body Statistics</h2>

        <table>
            <tr>
                <th>
                    Enrollment Date
                </th>
                <th>
                    Students
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        @item.StudentCount
                    </td>
                </tr>
            }
        </table>
