@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 1000px; background-image: url(https://images.pexels.com/photos/1370294/pexels-photo-1370294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
    <div class="jumbotron">
        <h1>Welcome to Contoso University</h1>
        <h2>Home of the Contoso Cowboys</h2>
            <p>Please select a section from above.</p>
    </div>
</div>